<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Your E-Mail Address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            ngNativeValidate
            #email="ngModel"
          />
        </div>
        <span class="error-message" *ngIf="!email.valid && email.touched">
          Please enter a valid Email!
        </span>
        <div class="form-group">
          <label for="password">Your Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            ngNativeValidate
            #password="ngModel"
          />
        </div>
        <span class="error-message" *ngIf="!password.valid && password.touched">
          Please enter a valid Password!
        </span>
        <div class="form-group">
          <label for="subscription">Subscription Type</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription"
            required
            ngNativeValidate
          >
            <option value="basic">Basic Subscription</option>
            <option value="advanced">Advanced Subscription</option>
            <option value="pro">Pro Subscription</option>
          </select>
        </div>

        <button [disabled]="!form.valid" class="btn btn-primary" type="submit">
          Submit
        </button>
      </form>
      <hr />
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Email: {{ user.email }}</p>
          <p>Password: {{ user.password }}</p>
          <p>Subscription Plan: {{ user.subscription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
